BasedOnStyle: WebKit
UseTab: Never
IndentWidth: 4
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
#AlignEscapedNewlinesLeft: true
AlignAfterOpenBracket: true
PointerAlignment: Right
# AlwaysBreakAfterReturnType: Inline
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBinaryOperators: None
